/* NavBar.css */
.navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-left: -2em;
    background-color: transparent;
    background-color: hsla(268, 35%, 67%, 0.3);
    width: 102%;
    height: 4em;
    /* Add a box shadow to create a slight shadow effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 20;
  }
  
  .navbar__item {
    margin: 0;
    padding: 0;
    flex-grow: 1;
  }
  
  .navbar__link {
    color: rgb(93, 90, 90);
    text-decoration: none;
    padding: 12px 15px; /* Increase padding for more space around the text */
    border-radius: 5px;
    display: block;
    text-align: center;
    /* Add a transition to create a smooth color change on hover */
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
  }
  
  .navbar__link:not(:last-child) {
    margin-right: 10px; /* Add spacing between links */
  }
  
  .navbar__link:hover {
    background-color:rgb(159, 139, 181);
    color: white;
    /* Add a slight scale effect on hover to create an interactive feel */
    transform: scale(1.06);
    /* Add a box shadow on hover for a lifted effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  }
  
  /* Add a background color to the active link to indicate the current page */
  .navbar__link.active {
    background-color: rgb(141, 121, 163);
    color: white;
  }
  
  /* Adjust the font size and font weight to make the text more readable */
  .navbar__link {
    font-size: 16px;
    font-weight: 500;
  }
  

  