body {
    margin: 0; /* Remove margin to fill the entire page */
    padding: 0; /* Remove padding to fill the entire page */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: lavenderblush;
}
/* .container--center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 34em;
} */

.title-image {
    width: 30%;
    height: 50%;
    position: absolute;
    margin-top: -12em;
    margin-left: -4em;
    z-index: -10;
    /* Adjust the margins to center the image */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
}

.homepage-image {
    width: 105%;
    height: 120em; /* This will maintain the aspect ratio */
    position: absolute;
    /* top: 0;
    left: 0; */
    z-index: -20; /* Set a lower z-index to place the image behind other elements */
  }

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.container--login{
    margin-left:25em;
}
.form--login {
    display: inline-block;
    /* Adjust the margins to center the form */
    margin-top: 26em;
    margin-left: 11em;
    text-align: left;
    z-index: 1;
    width: 30rem;
    background-color: hsla(268, 35%, 67%, 0.228);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    min-height: 12rem;
    padding: 2rem;
}

.form--login > fieldset > input[type="email"] {
    width: 100%; /* Set the input width to 100% to fill the container */
}

.form-control {
    display: block;
    width: 80%; /* Set the input width to 100% to fill the container */
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #525749;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 50px; /* Reduce the margin for title separation */
}

.title-label {
    margin-top: 45em;
    margin-left: -18em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(141, 121, 163);
    opacity: 0.8;
}

.link--login {
    margin-top: 1em;
    margin-left: 23em;
}
.link--register{
    margin-left: 25em;
}
.form--login button[type="submit"] {
    background-color:rgb(141, 121, 163);; /* Set the background color */
    color: white; /* Set the text color */
    padding: 14px 20px; /* Adjust the padding as needed */
    margin: 10px 0; /* Adjust the margin as needed */
    margin-left: 8em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%; /* Set the button width to fill the container */
  }
  
  /* Apply styles on button hover */
  .form--login button[type="submit"]:hover {
    background-color:rgb(97, 54, 142);;
  }
  
  /* Apply styles on button focus */
  .form--login button[type="submit"]:focus {
    outline: none; /* Remove the default focus outline */
  }